.landing-container {
   background-image: url('../../assets/real.gif');
   background-size: 100%;
   background-attachment: fixed;
   background-position: right ;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
 
.landing-content {
    text-align: center;
}
  
.landing-button {
    all: unset;
    font-family: var(--font-family);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #eeee04, 0 0 0.5em #eeee04,
        0 0 0.1em #eeee04;
    padding: 1rem 3rem;
    color: white;
    background-color: transparent;
    font-size: 28px;
    border: 2px solid #eeee04;
    border-radius: 5px;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #eeee04,
        0 0 0.8rem #eeee04, 0 0 2.8rem #eeee04, inset 0 0 1.3rem #eeee04;
    cursor: pointer;
    transition: all 0.5s;
}
  
.landing-button:hover {
    color: #fcfaec;
    box-shadow: 0 0 0.4rem #fff, 0 0 0.2rem #fff, 0 0 6rem #eeee04,
        0 0 10rem #eeee04, 0 0 2.8rem #eeee04, inset 0 0 1.5rem #eeee04;
}
  
.landing-button {
	-webkit-animation: landing-button 0.9s both;
	        animation: landing-button 0.9s both;
}

@-webkit-keyframes landing-button {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes landing-button {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  